body {
    font-family: Arial, sans-serif;
    background: linear-gradient( #b9a3a3, #150d0a);
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 0;
}

.container {
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 500px;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="date"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #968383;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

p#result {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}
